<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p>Welcome to my movie recommender!</p>
       <!--<a href='/recommendation'>Get me my recommendations!</a>

       <!-- FORM -->

       <form action="{{url_for('recommend')}}" method="get">
         <p>Please rate movies from 0.0 to 5.0</p>
         <input type="text" name="movie1" placeholder="Enter a movie name" value="Toy Story">
         <input type="text" name="rating1" placeholder="0.0 - 5.0" value="1.0">
         <br>
         <input type="text" name="movie2" placeholder="Enter a movie name" value="Shrek">
         <input type="text" name="rating2" placeholder="0.0 - 5.0" value="2.0">
         <br>
         <input type="text" name="movie3" placeholder="Enter a movie name" value="Godfather">
         <input type="text" name="rating3" placeholder="0.0 - 5.0" value="5.0">
         <br>
         <br>
         <input type="text" name="num" placeholder="How many recommendations?">

         <input type="submit">
       </form>

 </body>
</html>
