<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

  </head>
<body style="background-color:#f5f5dc;">
  <body>
    <h1> This friendly application has been designed as such:</h1>
    <ul>
      <li> 1) Encourages you, user, to enter some keywords below </li>
      <li> 2) Transforms these keywords in an URL and follow the link </li>
      <li> 3) Scrapes the webpage for all images </li>
      <li> 4) Makes you, user, patiently wait with its trickery while it proceeds </li>
      <li> 5) Analyses the images via a neural network to determine its type </li>
      <li> 6) And finally, issues recommendation on the products which need more pictures </li>
    </ul>
    <br>
    <h4> Let's go! </h4>
    <form action="{{url_for('scraping')}}" method="get">
      <label for="url">The tool will scrape images. Please enter some keywords so it can filter its search accordingly: </label>
        <br>
        <br>
        <input type="text" id="url" name="url">
        <input type="Submit" action="/scraping" method="get">
      </form>



  </body >
</html>
