<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style>

.row {
      display: flex;
      flex-wrap: wrap;
      padding: 0 4px;
    }
.column {
      flex: 50%;
      padding: 0 4px;
    }
.column img {
      margin-top: 8px;
      vertical-align: middle;
    }

    figure {
        display: inline-block;
        border: 1px dotted gray;
        margin: 20px; /* adjust as needed */
    }
    figure img {
        vertical-align: top;
    }
    figure figcaption {
        border: 1px dotted blue;
        text-align: center;
    }
  </style>
  </head>
  <body style="background-color:#f5f5dc;">
    <h1 align="center"> Products in need of reshooting </h1>
    <h4 align="center"> No silhouette primary image of the right color (if applicable) </h4>
    <div class="row">
      <div class="column">
    {% for i in img %}
    <figure>
    <img src="/static/images/{{i[0]}}" style= "width:250px;height:250px;" alt="{{j}}" >
    <figcaption>{{i[1]}}</figcaption>
    </figure>
    {% endfor %}
    </div>
    </div>
  </body>
</html>
